body {
    /* background-image: url("https://media1.giphy.com/media/PbOaO2fedzQLm/giphy.gif") */
}

h1 {
    background-color: red;
}

#rain-btn2:hover {
    border: 1px solid blue;
    margin: -1px;
}

.container {
    border: 1px solid black;
    /* margin-left: 0px;
    width: 100%;
    box-sizing: border-box; */
    margin-left: 5%;
    margin-right: 5%;
}

.sound-block {
    width: 22vw;
    height: 30px;
    display: inline-block;
}

.sound-btn {
    width: 22vw;
    margin: 0px;
}

.volume-btn {
    height: 20px;
    width: 20px;
}

.slider {
    width: 6vw;
}

/* #rain-slider {
    width: 250px;
}

#chatter-slider {
    width: 250px;
}

#white-noise-slider {
    width: 250px;
}

#fire-slider {
    width: 250px;
} */

.slider {
    border: 1px solid black;
}

.sound-label {
    margin: 10px 10px 0 10px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    border: 1px solid black;
}
