body {
    /* background-image: url("https://media1.giphy.com/media/PbOaO2fedzQLm/giphy.gif") */
}

#rain-btn2:hover {
    border: 1px solid blue;
    margin: -1px;
}

.b {
    border: 1px solid black;
    width: 100vw;
}

.sound-btn {
    width: 48vw;
}

.volume-btn {
    height: 20px;
    width: 20px;
}

#up-arrow {
    transform: rotate(180deg);
}

.slider {
    width: 25px;
    height: 25px;
}

.sound-label {
    margin: 10px 10px 0 10px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    border: 1px solid black;
}
